    /* https://stackoverflow.com/a/3525675/5511561 */

html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

.container {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -80px;
    /* the bottom margin is the negative value of the footer's total height */
}

.container:after {
    content: "";
    display: block;
    height: 80px;
    /* the footer's total height */
}



.footer {
    height: 80px;
    /* the footer's total height */
}

.footer-content {

    height: 55px;
    /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 15px;
}
